body {
  text-align: center;
    font-family: helvetica;
}
div {
  background-image: url("../images/broadway.png");
  background-repeat: no-repeat;
  background-position: center;
}
a {
  color: white;
  font-size: 18 px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h3.design {
  color: white;
  background-image: url("../images/broadway.png");
  background-repeat: no-repeat;
  background-position: center;
}
footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
